.btnCreate {
  min-width: 130px;
  width: 100%;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  background: #fdba00;
  /* border: 2px solid #fdba00; */
  border-radius: 9px;
  cursor: pointer;
  color: white;
}
