.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
    overflow: hidden;
}

/*background-image: url("https://st2.depositphotos.com/3542901/7910/i/950/depositphotos_79108092-stock-photo-customer-at-restaurant-blur-background.jpg");*/
