.form{
  padding: 0 20px;
}

.form__title{
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 50px;
  color: white;
}


.rest__info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 22px;

}

.foto__info{
  width: 200px;
  border: 1px solid #eee;
  

}

.order__info{
  width: 40%;
}

.btn__edit{
  width: 300px;
  
}

.ul__info{
  padding: 0;
  color: white;
}

.btn__count{
    width: 120px;
    margin: 10px 10px 0 0  ;

}

.edit__form{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  gap: 15px;
}

.edit{


}

.edit__col{
  display: flex;
  align-items: center;
  /* justify-content: center; */

  color: white;
}

.edit__title{
  text-align: center;
  color: white;
  margin-bottom: 15px;
}


.img__rest{
  width: 300px;
}

.booked__tables {
  color: white
}

.img__label {
  color: white
}

.img__input {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit__col p {
  width: 130px;
}

.edit__col input {
  width: 130px;
  /* border-bottom: none; */
}

.send__btn {
  max-width: 200px;
}

/* .back__v{
  
} */
