.selector {
    width: 270px;
    padding: 5px 15px;
    /* border: 1px solid teal; */
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 36px;
    position: relative;
    margin-right: 30px;
}

/* .selector option {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  
} */
